[Desktop Entry]
Type=Application
Version=1.0
Name=Controls Control
Exec=controlscontrol
Comment=Don't lose control over sabotaged spaceship!
Icon=controlscontrol
Terminal=false
Categories=Game;ArcadeGame;
